#particle-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
}

.particle {
    position: absolute;
    width: 60px;
    /* Adjust size as needed */
    height: 60px;
    background-size: cover;
    /* Turn image white: make it black first, then invert */
    filter: brightness(0) invert(1) opacity(0.15);
    transition: transform 0.1s linear;
    /* Smooth mouse follow */
    will-change: transform;
}